.main{
	/* width: 100%; */
	min-width: 90%;
	padding: 40px;
}

/* Search songs results */

.search-results > p {
	margin: 40px 0 30px 0;
	font-size: 2rem;
	font-weight: 700;
	color: var(--red-principal);
}

.results--songs {
	display: grid;
	/* grid-template-columns: repeat(5, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 20px;
	overflow-y: scroll;
	margin-bottom: 70px;
}

.results--songs::-webkit-scrollbar {
	display: none;
}



