.menu{
    display: flex;
    flex-direction: column;
    min-width: 200px;
    padding: 40px 40px;
}

.logo{
    display: block;
    width: 100%;
}

section{
    margin-top: 30px;
}

section > p{
    color: var(--just-white);
    font-size: 2rem;
    line-height: 2.7rem;
    font-weight: 700;
}

section >ul{
    padding: 0;
}

section > ul li{
    list-style: none;
}

section > ul a {
    display: block;
    text-align: left;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.5rem;
    color: var(--just-white);
    text-decoration: none;
    transition: 0.4s;
}

section > ul a:hover{
    padding:3px 5px;
    font-weight: bold;
    color: var(--red-principal);
    border-radius: 2px;
    transform: translateX(5px);
}