.App{
  position: relative;
  height: 100vh;
  background-color: var(--just-white);
}

.container{
  display: grid;
  grid-template-columns: 0.6fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 2fr 0.3fr;
  grid-template-areas: 
    "menu search search search"
    "menu main main main"
    "footer footer footer footer"
  ;
  min-width: 100vw;
  height: 100vh;
  padding: 0;
}

.search{
  grid-area: search;
  background-color: var(--just-white);
}

.menu{
  grid-area: menu;
  background-color: var(--dark-red-secondary);
}

main{
  grid-area: main;
  background-color: var(--just-white);
}

footer{
  grid-area: footer;
  background-color: var(--red-secondary);
}